@media @mobile {
  .catalog {
    display: block;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 702px;
    margin: 0 auto;
    padding: 0;
    padding-left: 11px;
    padding-right: 11px;
    font-size: 0;
    &__title {
      width: 100%;
      text-align: center;
    }
    &__item {
      position: relative;
      width: 100%;
      margin-bottom: 47px;
      text-align: center;
      &--favorite {
        &::after {
          display: block;
          content: "";
          position: absolute;
          right: 10px;
          top: -4px;
          height: 55px;
          width: 35px;
          background-image: url("../img/sprite.png");
          background-position: -5px -68px;
          background-repeat: no-repeat;
        }
      }
    }
  }
}

@media @tablet {
  .catalog {
    &__item {
      width: 48%;
    }
  }
}

@media @desktop {
  .catalog {
    padding: 0;
    &__item {
      width: 33.33%;
      max-width: 220px;
    }
  }
}