@media @mobile {
  .catalog {
    display: block;
    max-width: 702px;
    margin: 0 auto;
    padding: 0;
    padding-left: 11px;
    padding-right: 11px;
    font-size: 0;
    &__title {
      width: 100%;
      text-align: center;
    }
    &__item {
      width: 100%;
      margin-bottom: 47px;
      text-align: center;
    }
  }
}

@media @tablet {
  .catalog {
    &__item {
      display: inline-block;
      width: 48%;
    }
  }
}

@media @desktop {
  .catalog {
    padding: 0;
    &__item {
      min-height: 333px;
      width: 33.33%;
      max-width: 220px;
      &:nth-child(3n-2) {
        margin-left: 2.5%;
      }
      &:nth-child(3n) {
        margin-left: 2.5%;
      }
    }
  }
}