@media @mobile {
	.subscribe {
		margin: 0;
		padding: 22px 11px 39px;
		.font();
		color: #ffffff;
		text-align: left;
		&__text {
			display: inline-block;
			position: relative;
			margin-bottom: 11px;
			width: auto;
			font-size: 18px;
			letter-spacing: 0.23px;
			text-align: left;
			&--agree {
				&::before {
					display: block;
					content: "";
					position: absolute;
					right: -35px;
					top: -4px;
					height: 28px;
					width: 28px;
					background-color: transparent;
					border: 2px solid #ffffff;
					border-radius: 5px;
				}
				&::after {
					display: none;
					content: "";
					position: absolute;
					right: -39px;
					top: 0px;
					height: 10px;
					width: 28px;
					background-color: transparent;
					border-left: 3px solid #ffffff;
					border-bottom: 3px solid #ffffff;
					border-radius: 1px;
					transform: rotate(-45deg);
				}
			}
		}
		&__mail {
			width: 100%;
			margin-bottom: 22px;
			padding: 9px 11px;
			.font();
			font-size: 18px;
			letter-spacing: 0.33px;
			border: none;
			border-radius: 5px;
		}
		&__check {
			display: none;
		}
	}
	#subscribeAgree:checked + .subscribe__text--agree::after {
		display: block;
	}
}

@media @desktop {
	.subscribe {
		margin: 0 auto;
		padding: 48px 15px 50px;
		max-width: 702px;
		&__text {
			display: inline-block;
			font-size: 14px;
			&--agree {
				display: block;
				margin-left: 112px;
				font-size: 18px;
				&::before {
					left: -38px;
				}
				&::after {
					left: -35px;
				}
			}
		}
		&__mail {
			display: inline-block;
			margin-left: 15px;
			margin-bottom: 24px;
			padding: 9px 11px 8px;
			width: 209px;
		}
	}
}